* {
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

title {
  display: none;
}

body {
  background-color: slategray;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

#titlebar {
  height: 10%;
  border: 1px solid green;
  align-items: center;
}

#gameboard {
  width: 100vmax;
  border: 1px solid red;
  height: 90%;
}

.row {
  border-left: 1px solid black;
  width: 9%;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

.empty {
  background-color: black;
  border-radius: 50%;
  min-height: 5vmax;
  min-width: 5vmax;
  margin: 1vmax;
  box-sizing: content-box;
  border: 5px solid darkslateblue;
  background: radial-gradient(circle at 40% 40%, black, dimgray);
}

.submit {
  border: 1px solid blue;
  width: 100%;
  height: 10%;
}

.button--submit {
  width: 100%;
  justify-content: center;
}
